html { height: 100%; width: 100%; }

@font-face {
	font-family: argosbold_italic;
	src: url(../fonts/argos-bolditalic-webfont.eot);
	src: url(../fonts/argos-bolditalic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/argos-bolditalic-webfont.woff) format("woff"), url(../fonts/argos-bolditalic-webfont.ttf) format("truetype"), url(../fonts/argos-bolditalic-webfont.svg#argosbold_italic) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: argosbook;
	src: url(../fonts/argos-book-webfont.eot);
	src: url(../fonts/argos-book-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/argos-book-webfont.woff) format("woff"), url(../fonts/argos-book-webfont.ttf) format("truetype"), url(../fonts/argos-book-webfont.svg#argosbook) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: argoscompressed_bold;
	src: url(../fonts/argos-compressedbold-webfont.eot);
	src: url(../fonts/argos-compressedbold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/argos-compressedbold-webfont.woff) format("woff"), url(../fonts/argos-compressedbold-webfont.ttf) format("truetype"), url(../fonts/argos-compressedbold-webfont.svg#argoscompressed_bold) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: argosultralight_italic;
	src: url(../fonts/argos-ultralightitalic-webfont.eot);
	src: url(../fonts/argos-ultralightitalic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/argos-ultralightitalic-webfont.woff) format("woff"), url(../fonts/argos-ultralightitalic-webfont.ttf) format("truetype"), url(../fonts/argos-ultralightitalic-webfont.svg#argosultralight_italic) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: argosbook_italic;
	src: url(../fonts/argos-bookitalic-webfont.eot);
	src: url(../fonts/argos-bookitalic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/argos-bookitalic-webfont.woff) format("woff"), url(../fonts/argos-bookitalic-webfont.ttf) format("truetype"), url(../fonts/argos-bookitalic-webfont.svg#argosbook_italic) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: argosheavy_italic;
	src: url(../fonts/argos-heavyitalic-webfont.eot);
	src: url(../fonts/argos-heavyitalic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/argos-heavyitalic-webfont.woff) format("woff"), url(../fonts/argos-heavyitalic-webfont.ttf) format("truetype"), url(../fonts/argos-heavyitalic-webfont.svg#argosheavy_italic) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: argosultralight;
	src: url(../fonts/argos-ultralight-webfont.eot);
	src: url(../fonts/argos-ultralight-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/argos-ultralight-webfont.woff) format("woff"), url(../fonts/argos-ultralight-webfont.ttf) format("truetype"), url(../fonts/argos-ultralight-webfont.svg#argosultralight) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: argosheavy;
	src: url(../fonts/argos-heavy-webfont.eot);
	src: url(../fonts/argos-heavy-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/argos-heavy-webfont.woff) format("woff"), url(../fonts/argos-heavy-webfont.ttf) format("truetype"), url(../fonts/argos-heavy-webfont.svg#argosheavy) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: argosbold;
	src: url(../fonts/argos-bold-webfont.eot);
	src: url(../fonts/argos-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/argos-bold-webfont.woff) format("woff"), url(../fonts/argos-bold-webfont.ttf) format("truetype"), url(../fonts/argos-bold-webfont.svg#argosbold) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: argoscondensed_book;
	src: url(../fonts/argos-condensedbook-webfont.eot);
	src: url(../fonts/argos-condensedbook-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/argos-condensedbook-webfont.woff) format("woff"), url(../fonts/argos-condensedbook-webfont.ttf) format("truetype"), url(../fonts/argos-condensedbook-webfont.svg#argoscondensed_book) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: argoscondensed_extrabold;
	src: url(../fonts/argos-condensedextrabold-webfont.eot);
	src: url(../fonts/argos-condensedextrabold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/argos-condensedextrabold-webfont.woff) format("woff"), url(../fonts/argos-condensedextrabold-webfont.ttf) format("truetype"), url(../fonts/argos-condensedextrabold-webfont.svg#argoscondensed_extrabold) format("svg");
	font-weight: 400;
	font-style: normal
}

.argosbook, .argosbookitalic, .argoscompressedbold, .argoscondensedbook, .argoscondensedextrabold, .bodytext { color: #040404; text-shadow: none; font-weight: normal; }

.argosbook { font-family: argosbook; }
.argosbookitalic { font-family: argosbook_italic; }
.argosbold { font-family: argosbold; }
.argoscompressedbold { font-family: argoscompressedbold; }
.argoscondensedbook { font-family: argoscondensed_book; }
.argoscondensedextrabold { font-family: argoscondensed_extrabold; }
.bodytext { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }

.mainheading { font-size: 20px; font-family: argosbook; }
.subheading { font-size: 20px; font-family: argoscondensed_extrabold; }
.prodtitle { font-size: 15px; font-family: argosbook; margin: 0 0 5px; font-weight: normal; }
.mainprice { font-size: 30px; font-family: argoscondensed_extrabold; }
.tlpprice { font-size: 30px; font-family: argoscondensed_extrabold; }
.tlptitles { font-size: 18px; font-family: argosbook; }
.wasprice { font-size: 12px; color: #777; font-family: argosbook_italic; }
.saving { font-size: 16px; color: #EE3124; font-family: argoscondensed_extrabold; text-transform: uppercase; }
.savingprice { font-size: 25px; color: #EE3124; font-family: argoscondensed_extrabold; }
.headerlinks { font-size: 13px; }

.container {
	width: 100%;
	padding: 0 15px;
    display: table;
	box-sizing: border-box;
}
.columns { position: relative; }
.eight, .eleven, .five, .four, .nine, .one, .seven, .ten, .three, .twelve, .two {
	margin-left: .83333%;
	margin-right: .83333%;
	float: left
}
.container:after {
	content: " ";
	display: block
}
.eight:after, .eight:before, .eleven:after, .eleven:before, .five:after, .five:before, .four:after, .four:before, .nine:after, .nine:before, .one:after, .one:before, .seven:after, .seven:before, .ten:after, .ten:before, .three:after, .three:before, .twelve:after, .twelve:before, .two:after, .two:before {
	display: table;
	content: ''
}
.one { width: 6.66667% }
.two { width: 15% }
.three { width: 23.33333% }
.four {	width: 31.66667% }
.five {	width: 40% }
.six { width: 48.33333%; float: left; margin-left: .83333%; margin-right: .83333% }
.six:after, .six:before { content: ''; display: table }
.seven { width: 56.66667% }
.seven:after { clear: both }
.eight { width: 65% }
.nine { width: 73.33333% }
.ten { width: 81.66667% }
.eleven { width: 90% }
.twelve { width: 98.33333% }

body {
    background-color: #FFF;
    padding: 0;
    margin: 0;
    min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mainheader {
    height: 60px;
    border-bottom: 1px solid #CCC;
    background-color: #F0F0F0;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.headerbar {
    background: #f0f0f0;
    height: 60px!important;
    margin: 0;
    padding: 0
}

.headerbar .header_item {
    height: 100%;
}

.headerbar li {
    width: 25%;
    float: left;
    display: block;
    position: relative;
}

.headerbar li a {
  padding-top: 39px;
  padding-left: 14px;
  display: block;
  font-size: 13px;
  color: #040404;
  font-family: argosbook;
}

.headerbar .stores a { width: 47px; }
.headerbar .search a { width: 48px; }
.headerbar .trolley a { width: 50px; }

.headerbar a:before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}

.headerbar .logo a:before {
  top: 0;
  left: 0;
  background-image: url(../img/icons-s238d95c7a7.png);
  background-position: -94px 0;
  height: 60px;
  width: 70px;
}

.headerbar .stores a:before {
  top: 9px;
  left: 10px;
  background-image: url(../img/icons-s238d95c7a7.png);
  background-position: -217px 0;
  height: 26px;
  width: 39px;
}

.headerbar .search a:before {
  top: 6px;
  left: 16px;
  background-image: url(../img/icons-s238d95c7a7.png);
  background-position: -164px 0;
  height: 29px;
  width: 29px;
  width: 28px!important;
}
    
.headerbar .trolley a:before {
  top: 7px;
  left: 10px;
  background-image: url(../img/icons-s238d95c7a7.png);
  background-position: -256px 0;
  height: 29px;
  width: 37px;
}