.eight, .eleven, .five, .four, .nine, .one, .seven, .ten, .three, .twelve, .two, .six {
	margin-right: 4.8543%;
	margin-left: 0;
	float: left;
}
.container:after {
	content: " ";
	display: block
}
.eight:after, .eight:before, .eleven:after, .eleven:before, .five:after, .five:before, .four:after, .four:before, .nine:after, .nine:before, .one:after, .one:before, .seven:after, .seven:before, .ten:after, .ten:before, .three:after, .three:before, .twelve:after, .twelve:before, .two:after, .two:before {
	display: table;
	content: ''
}
.one { width: 3.8834% }
.two { width: 12.6211% }
.three { width: 21.3588% }
.four {	width: 30.0963% }
.five {	width: 38.8342% }
.six { width: 47.5719%; }
.seven { width: 56.3096% }
.eight { width: 65.0473% }
.nine { width: 73.785% }
.ten { width: 82.5227% }
.eleven { width: 91.2604% }
.twelve { width: 100% }

.columns:last-child { margin-right: 0; }

*,
:after,
:before {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}

.fulfilment-tab { width: 45.5% }

body, .grid-example { width: 100% }

.view p { 
    display: block;
    width: 22px;
    margin: 11px auto;
}

.view span { 
    float: left;
    width: 9px;
    height: 9px;
    margin: 1px;
    display: block;
    background-color: #BBB;
    border-radius: 2px;
}

.button { 
  background-color: #FFF;
  border: 1px solid #CCC;
  border-bottom: 3px solid #CCC;
  height: 48px;
  display: inline-block;
  float: left;
  font-family: argoscondensed_extrabold; 
  color: #333; 
  text-transform: uppercase; 
  padding: 0 10px; 
  font-size: 15px; 
  line-height: 48px;
  box-sizing: border-box;  }

.primary { 
  height: 48px; 
  font-size: 20px; 
  background-color: #00AA50; 
  color: #FFF; 
  border: none; 
  border-bottom: 3px solid #CCC; 
  line-height: 48px; 
  padding: 0 15px; }

.fullwidth {
    width: 100%;
    text-align: center; 
    padding: 0 }

.secondary { 
  color: #F7941D; }

.button:active { 
  background-color: #F7941D;
  color: #FFF; }

a.field {
  height: 48px;
  line-height: 48px;
}

input[type=text], select {
  height: 48px;
  border: 1px solid #CCC;
  border-bottom: 3px solid #CCC;
  font-family: argosbook;
  padding: 0 10px;
  font-size: 16px; 
  box-sizing: border-box; 
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  }

input[type=text]:focus {
  margin: 1px 1px 15px 1px;
  border: none;
  border-bottom: 3px solid #F7941D;
  outline: none; }

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  input[type=text]:focus {
    margin: 1px 3px 15px 3px; }}

.dropdown { 
  width: 140px; overflow: hidden; /*border-right: 1px solid #CCC;*/ }
.dropdown select { 
  width: 160px; background: transparent url("../img/dropdown.png") no-repeat 95% 50%; }
.dropdown select:hover { 
  cursor: pointer; background: transparent url("../img/dropdown_focus.png") no-repeat 95% 50%; }
.dropdown option {
  padding: 10px; }

.results { margin-top: 60px; font-family: argosbook; }
.results span { margin: 15px 0; float: left; font-weight: bold; }
.results span + span { float: right; font-weight: normal; }

.filters { border-bottom: 1px solid #CCC; padding-bottom: 15px; }

.product { padding: 15px 0; border-bottom: 1px solid #CCC; display: flex; }
.product div.prodimg { background: #F5F5F5 url("../img/product.jpg") center no-repeat; width: 100%; padding: 50% 0; background-size: contain; }
.product span.mainprice { float: left; margin-right: 5px; }
.product .otherpricing { line-height: 0.9em; padding-top: 1px; }

.product .reviews { background: #fcd439 url("../img/review-stars@1x.png") no-repeat; width: 106px; height: 16px; margin-bottom: 5px; font-family: argosbook; color: #AAA; font-size: 12px; line-height: 1.5em; }
.product .reviews span { margin-left: 110px; }

.product .content { 
	display: flex;
  	flex-direction: column;
  	justify-content: center; }

.filters-overlay {
    width: 100%;
    position: absolute;
    top: 60px;
    background-color: #FFF;
    z-index: 50;
}

.filters-overlay .sticky {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: #FFF;
    border-top: 1px solid #CCC;
    padding: 10px 5px;
}

.filters-overlay .sticky .button {
    width: 45%;
    text-align: center;
    margin: 0 5px;
    height: 40px;
    line-height: 40px;
}

.filters-inner {
    overflow-y: scroll;
    width: 100%;
    position: fixed;
}

.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    background:#f7f7f7;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    height: 48px;
    padding: 0 15px;
    line-height: 48px;
    display:inline-block;
    border-bottom:1px solid #ccc;
    background:#F0F0F0;
    transition:all linear 0.15s;
    font-family: argosbook;
    font-weight: normal;
    /* Type */
    color:#333;
    font-family: argosbook;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    display:none;
    background: #FFF;
}

input[type=checkbox] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 48px;
    margin: 0;
}

input[type=checkbox] + label {
  padding-left:38px;
  height:28px; 
  display:inline-block;
  line-height:28px !important;
  background-repeat:no-repeat;
  background-position: 0 0;
  vertical-align:middle;
  cursor:pointer;
  background: url("../img/check_off.png") no-repeat;
    background-size: contain;
    margin: 10px;
  font: 14px argosbook; }

input[type=checkbox]:checked + label {
  background: url("../img/check_on.png") no-repeat; 
    background-size: contain;
}

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.img-carousel {
    height: 300px;
    width: 100%;
    clear: both;
}
.img-carousel img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    
}