*,
:after,
:before {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}

.fulfilment-tab { width: 45.5% }

body, .grid-example { width: 100% }

.grid-example .container div {
  background: pink;
}
.grid-example .container {
  background: #f4f4f4;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 2px;
}

.view p { 
    display: block;
    width: 28px;
    margin: 4px auto;
}

.view span { 
    float: left;
    width: 12px;
    height: 12px;
    margin: 1px;
    display: block;
    background-color: #BBB;
    border-radius: 2px;
}

.button { 
  background-color: #FFF;
  border: 1px solid #CCC;
  border-bottom: 3px solid #CCC;
  height: 30px;
  display: inline-block;
  float: left;
  font-family: argoscondensed_extrabold; 
  color: #333; 
  text-transform: uppercase; 
  padding: 0 10px; 
  font-size: 15px; 
  line-height: 30px; }

.primary { 
  height: 40px; 
  font-size: 20px; 
  background-color: #00AA50; 
  color: #FFF; 
  border: none; 
  border-bottom: 3px solid #CCC; 
  line-height: 40px; 
  padding: 0 15px; }

.fullwidth {
    width: 100%;
    text-align: center; 
    padding: 0 }

.secondary { 
  color: #F7941D; }

.button:active { 
  background-color: #F7941D;
  color: #FFF; }

a.field {
  height: 35px;
  line-height: 36px;
}

input[type=text], select {
  height: 35px;
  border: 1px solid #CCC;
  border-bottom: 3px solid #CCC;
  font-family: argosbook;
  padding: 0 10px;
  font-size: 16px; }

input[type=text]:focus {
  margin: 1px 1px 15px 1px;
  border: none;
  border-bottom: 3px solid #F7941D;
  outline: none; }

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  input[type=text]:focus {
    margin: 1px 3px 15px 3px; }}

.dropdown { 
  width: 140px; overflow: hidden; border-right: 1px solid #CCC; }
.dropdown select { 
  width: 160px; background: transparent url("../img/dropdown.png") no-repeat 80% 50%; }
.dropdown select:hover { 
  cursor: pointer; background: transparent url("../img/dropdown_focus.png") no-repeat 80% 50%; }
.dropdown option {
  padding: 10px; }

.results { margin-top: 60px; }

.filters { border-bottom: 1px solid #CCC; padding-bottom: 10px; }

.product { padding: 10px 0; min-height: 77px; border-bottom: 1px solid #CCC; display: flex; }
.product .columns {  }
.product div.prodimg { background: transparent url("../img/product.jpg") center no-repeat; width: 100%; padding: 50% 0; background-size: contain; }
.product span.mainprice { float: left; margin-right: 5px; }
.product .otherpricing { line-height: 0.9em; padding-top: 1px; }

.product .reviews { background: #fcd439 url("../img/review-stars@1x.png") no-repeat; width: 106px; height: 16px; margin-bottom: 5px; font-family: argosbook; color: #AAA; font-size: 12px; line-height: 1.5em; }
.product .reviews span { margin-left: 110px; }