.eight, .eleven, .five, .four, .nine, .one, .seven, .ten, .three, .twelve, .two, .six {
	margin-right: 4.8543%;
	margin-left: 0;
	float: left;
}

.one { width: 3.8834% }
.two { width: 12.6211% }
.three { width: 21.3588% }
.four {	width: 30.0963% }
.five {	width: 38.8342% }
.six { width: 47.5719%; }
.seven { width: 56.3096% }
.eight { width: 65.0473% }
.nine { width: 73.785% }
.ten { width: 82.5227% }
.eleven { width: 91.2604% }
.twelve { width: 100% }

.columns:last-child { margin-right: 0; }

*,
:after,
:before {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}

.fulfilment-tab { width: 45.5% }

.main-container {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.view p { 
    display: block;
    width: 22px;
    margin: 11px auto;
}

.view span { 
    float: left;
    width: 9px;
    height: 9px;
    margin: 1px;
    display: block;
    background-color: #BBB;
    border-radius: 2px;
}

.button { 
  background-color: #FFF;
  border: 1px solid #CCC;
  border-bottom: 3px solid #CCC;
  height: 48px;
  display: inline-block;
  float: left;
  font-family: argoscondensed_extrabold; 
  color: #333; 
  text-transform: uppercase; 
  padding: 0 10px; 
  font-size: 15px; 
  line-height: 48px;
  box-sizing: border-box; 
    text-align: center;
}

.primary { 
  height: 48px; 
  font-size: 20px; 
  background-color: #00AA50; 
  color: #FFF; 
  border: none; 
  border-bottom: 3px solid #CCC; 
  line-height: 48px; 
  padding: 0 15px; }

.fullwidth {
    width: 100%;
    text-align: center; 
    padding: 0 }

.secondary { 
  color: #F7941D; }

.wishlist { 
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    margin-left: 15px;
}

.wishlist span {
    background: transparent url("../img/wishlist.png") no-repeat 50% 0;
    background-size: contain;
    width: 100%;
    height: 20px;
    display: block;
}

.touch {
    min-width: 48px;
    min-height: 48px;
    background-size: auto !important;
    background-position: center !important;
}

.button:active { 
  background-color: #F7941D;
  color: #FFF; }

a.field {
  height: 48px;
  line-height: 48px;
}

input[type=text], select {
  height: 48px;
  border: 1px solid #CCC;
  border-bottom: 3px solid #CCC;
  font-family: argosbook;
  padding: 0 10px;
  font-size: 16px; 
  box-sizing: border-box; 
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  }

input[type=text]:focus {
  margin: 1px 1px 15px 1px;
  border: none;
  border-bottom: 3px solid #F7941D;
  outline: none; }

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  input[type=text]:focus {
    margin: 0px 3px; }}

.dropdown { 
  width: 140px; overflow: hidden; /*border-right: 1px solid #CCC;*/ }
.dropdown select { 
  width: 160px; background: #FFF url("../img/dropdown.png") no-repeat 95% 50%; }
.dropdown select:hover { 
  cursor: pointer; background: #FFF url("../img/dropdown_focus.png") no-repeat 95% 50%; }
.dropdown option {
  padding: 10px; }

.results { font-family: argosbook; }
.results span { margin: 15px 0; float: left; font-weight: bold; }
.results span + span { float: right; font-weight: normal; }

.filters, .filterstab { border-bottom: 1px solid #CCC; padding-bottom: 15px; }
.filterstab { display: none; }

.product { padding: 15px 0; border-bottom: 1px solid #CCC; display: flex; }
.product div.prodimg { background: transparent url("../img/prod-img/prod1.jpg") center no-repeat; width: 100%; padding: 50% 0; background-size: contain; }
.product span.mainprice { float: left; margin-right: 5px; }
.product .otherpricing { line-height: 0.9em; padding-top: 1px; }

.product .content { 
	display: flex;
  	flex-direction: column;
  	justify-content: center; }

.filters-overlay {
    width: 100%;
    position: absolute;
    z-index: 50;
    display: none;
    float: none;
}

.filters-inner {
    overflow-y: scroll;
    width: 100%;
    position: fixed;
    background-color: #FFF;
     transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
}
    

.filters-in {
    animation: filters-in 0.3s forwards;
    -webkit-animation: filters-in 0.3s forwards;
    -moz-animation: filters-in 0.3s forwards;
}

.filters-out {
    animation: filters-out 0.3s forwards;
    -webkit-animation: filters-out 0.3s forwards;
    -moz-animation: filters-out 0.3s forwards;
}

@-webkit-keyframes filters-in {
    0% { transform: translateY(-100%); -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0%); -webkit-transform: translateY(0%); -moz-transform: translateY(0%); opacity: 1; }
}

@-webkit-keyframes filters-out {
    0% { transform: translateY(0%); -webkit-transform: translateY(0%); -moz-transform: translateY(0%); opacity: 1; }
    100% { transform: translateY(-100%); -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); opacity: 0; }
}

.filters-overlay .sticky {
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: #FFF;
    border-top: 1px solid #CCC;
    padding: 10px 5px;
}

.filters-overlay .sticky .button {
    width: 45%;
    text-align: center;
    margin: 0 5px;
    height: 40px;
    line-height: 40px;
}

.filters-overlay .accordion {
    border: 1px solid #CCC;
    margin: 15px 0;
}

div.stars {
    width: 270px;
    display: table;
    margin: 0 auto;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 20px;
    margin: 15px 7px;
    background: transparent url("../img/starempty.svg") no-repeat;
    background-size: contain;
}

input.star:checked ~ label.star {
    background: #FFF url("../img/star.svg") no-repeat;
    background-size: contain;
}

label.star:before {
    background: #FFF url("../img/star.svg") no-repeat;
    background-size: contain;
}

.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    background:#f7f7f7;
}

.accordion .colours {
  padding: 15px;
  display: table;
  width: 100%;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    height: 48px;
    padding: 0 15px;
    line-height: 48px;
    display:inline-block;
    border-bottom:1px solid #ccc;
    transition:all linear 0.15s;
    font-family: argosbook;
    font-weight: normal;
    /* Type */
    color:#333;
    font-family: argosbook;
    text-decoration: none;
}

.accordion-section-title span {    
    background:url("../img/icn-plus.png") no-repeat;
    background-size: contain;
    width: 12px;
    height: 12px;
    float: right;
    margin: 18px 0;
}
 
.accordion-section-title.active {
    /* Type */
    text-decoration:none;
}

.accordion-section-title.active span {   
    background:url("../img/icn-minus.png") no-repeat;
    background-size: contain;
    width: 12px;
    height: 12px;
    float: right;
    margin: 18px 0;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
    
}
 
/*----- Section Content -----*/
.accordion-section-content {
    display:none;
    background: #FFF;
    border-bottom: 1px solid #CCC;
}

input[type=checkbox] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 48px;
    margin: 0;
}

input[type=checkbox] + label {
  padding-left:38px;
  height:28px; 
  display:inline-block;
  line-height:28px !important;
  background-repeat:no-repeat;
  background-position: 0 0;
  vertical-align:middle;
  cursor:pointer;
  background: url("../img/check_off.png") no-repeat;
    background-size: contain;
    margin: 10px 10px 10px 0;
  font: 14px argosbook; }

input[type=checkbox]:checked + label {
  background: url("../img/check_on.png") no-repeat; 
    background-size: contain;
}

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.pdp-overlay {
    position: absolute;
    z-index: 50;  
    display: none;
}

.prodinfo .reviews, .products-slide .reviews, .product .reviews {
    background: transparent url("../img/stars.png") no-repeat;
    display: block;
    background-size: contain;
    height: 20px;
    width: 150px;
    margin: 0 auto 10px;
    text-align: right;
}

.product .reviews {
    margin: 0 0 10px 0;
}

.pdp-inner {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFF;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);  
    -moz-transform: translateX(100%);
    width: 100%;
}

.pdp-in {
    animation: pdp-in 0.3s forwards;
    -webkit-animation: pdp-in 0.3s forwards;
    -moz-animation: pdp-in 0.3s forwards;
}

.pdp-out {
    animation: pdp-out 0.3s forwards;
    -webkit-animation: pdp-out 0.3s forwards;
    -moz-animation: pdp-out 0.3s forwards;
}

@-webkit-keyframes pdp-in {
    0% { transform: translateX(100%); -webkit-transform: translateX(100%); -moz-transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0%); -webkit-transform: translateX(0%); -moz-transform: translateX(0%); opacity: 1; }
}

@-webkit-keyframes pdp-out {
    0% { transform: translateX(0%); -webkit-transform: translateX(0%); -moz-transform: translateX(0%); opacity: 1; }
    100% { transform: translateX(100%); -webkit-transform: translateX(100%); -moz-transform: translateX(100%);opacity: 0; }
}

#pdpcontent {
}

.flags span {
    font-size: 0.7em;
    padding: 3px 5px;
    color: #FFF;
    margin-right: 1px;
}

.flagnew {
    background-color: #009fd0;
}

.flagonline {
    background-color: #f7941d;
}

#pdpcontent .flags {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 100;
}

.prodinfo { z-index: 10; }

.prodinfo > div { clear: both; }

section.options {
    clear: both;
    background-color: #F5F5F5;
    border-bottom: 1px solid #CCC;
}

section.options .container {
    border-top: 1px solid #CCC;
    padding: 15px;
    clear: both;
}

section.options h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1em;
    height: 48px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prodinfo .credit {
    font-size: 0.8em;
    padding: 5px 0;
    background-color: #EE3124;
    text-align: center;
    color: #FFF;
    margin: 10px 0 15px;
}

.product a:visited {
    color: #333;
}

.product a { text-decoration: none; }

section.options .dropdown, section.options .button { margin-bottom: 15px; }

.swatch, section.options .expand, section.options .collapse, .product .swatch {
    width: 46px;
    height: 46px;
    border: 1px solid #CCC;
    background-color: #FFF;
    margin: 0 7px 15px 0;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    float: left;
}

.product .colours {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    height: 14px;
    line-height: 11px;
}

.product .flagscolumns {
    position: absolute;
    display: none;
    top: 5px;
    left: 5px;
}

.product .swatch {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    margin-bottom: 0;
}

.swatch span {
    width: 38px;
    height: 38px;
    margin: 4px;
    display: block;
}

.product .colours span {
    text-transform: uppercase;
    color: #BBB;
    font-size: 0.8em;
    font-weight: bold;
    float: left;
    margin: 1px;
    width: 8px;
    height: 8px;
}

section.options .expand, section.options .collapse {
    float: right;
    background: #FFF url("../img/chevron-down.png") no-repeat 50% 50%;
    margin-right: 0;
    height: 46px;
    width: 46px;
    border: 1px solid #CCC;
}

section.options .collapse {
    float: left;
    background: #FFF url("../img/chevron-up.png") no-repeat 50% 50%;
}

.swatch.green span { background-color: #00aa50; }
.swatch.red span { background-color: #ee3124; }
.swatch.purple span { background-color: #913493; }
.swatch.blue span { background-color: #3777bc; }
.swatch.yellow span { background-color: #ffe500; }

a.swatch:hover, a.swatch:focus, a.swatch:active {
	border-color: #f7941d;
}

section.options .colours {
    height: 63px;
    overflow: hidden;
    transition: all .2s ease-in;
}

section.options ul.availability {
    clear: both;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

section.options ul.availability li {
    height: 35px;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.options ul.availability li.sc {
    background: transparent url("../img/sc.png") no-repeat 0 50%;
}

section.options ul.availability li.hd {
    background: transparent url("../img/hd.png") no-repeat 0 50%;
}

#pdpcontent .linkbar {
    background: transparent url("../img/chevron.png") no-repeat 95% 50%;
    height: 48px;
}

#pdpcontent .linkbar h3 {
    margin: 0;
    line-height: 48px;
}


#pdpcontent .linkbar h3 a {
    width: 100%;
    display: block;
}

#pdpcontent h3 {
    font-size: 16px;
}

.moreinfo .container {
    border-bottom: 1px solid #CCC;
    display: table;    
}

#slideshow img {
}

.reviews span {
    text-transform: uppercase;
    color: #BBB;
    font-size: 0.8em;
    font-weight: bold;
}

.reviews .rating {
    float: left;
    width: 110px;
}

.reviews .rating .bar {
    display: block;
    float: left;
    width: 74px;
    height: 15px;
    background: transparent url("../img/rating.png") no-repeat 0 50%;
    text-indent: 80px;
}

.reviews span.stars {
    display: block;
    width: 120px;
    height: 20px;
    background: transparent url("../img/stars.png") no-repeat;
    background-size: contain;
    text-indent: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.bubble {
    border: 1px solid #CCC;
    padding: 15px;
    background-color: #FAFAFA;
    margin-bottom: 15px;
}

.bubble h3 {
	height: auto !important;
	margin-bottom: 15px !important;
}

.options .bubble {
	background: #FFF url("../img/chevron.png") no-repeat 95% 50%;
	margin-bottom: 0;
}

.specialoffers-container, .specialoffers-wrapper {
    height: auto !important;
}

.specialoffers-slide div {
    margin: 0 7px 15px;
    background-color: #EE3124;
    padding: 15px;
    color: #FFF;
}

.products-container {
    margin-bottom: 15px !important;
}

.otherprod img {
    height: auto;
}

.otherprod h4 {
    clear: both;
    margin: 0 auto 10px;
    text-align: center;
    width: 90%;
}

.otherprod {
    float: left;
    width: 100%;
}

.options .primary {
    flex-grow: 1;    
}

.dock, .mobdock {
    background-color: #F5F5F5;
    padding: 15px 0;
    position: fixed;
    border-bottom: 1px solid #CCC;
    z-index: 100;
    width: 100%;
    display: none;
}

.pdpnav, .refinenav {
    background-color: #F5F5F5;
    padding: 15px 0;
    border-bottom: 1px solid #CCC;
}

.left {
    float: left;
    width: 10px;
    height: 16px;
    display: block;
    background: transparent url("../img/chevron-left.png") no-repeat;
    background-size: contain;
}

.refinenav .left {
    width: auto;
}

.pdpnav .searchterm {
    text-align: center;
    width: 100%;
}

.right {
    float: right;
    width: 10px;
    height: 16px;
    display: block;
    background: transparent url("../img/chevron.png") no-repeat;
    background-size: contain;
}

.pdp-left {
    position: relative;
    float: left;
}

.slideme {
    width: 80%;
    height: 100%;
    margin: 0 auto !important;
}

.slideme li { text-align: center; background-color: #FFF; }

.slideme li img {
    width: 90%;
    margin: 15px auto;
}

.backtotop, .mobbacktotop {
	position: absolute;
	bottom: 15px;
	right: 15px;
	background: #FFF url("../img/chevron-up.png") no-repeat 50% 50%;
	border: 1px solid #CCC;
	width: 46px;
	height: 46px;
	box-shadow: 0 0 15px #CCC;
	z-index: 150;
    display: none;
}

.backtotop a, .mobbacktotop a {
    display: block;
	width: 46px;
	height: 46px;
}

.pagination {
    display: block; 
    float: left;
    text-align: center;
}

.tablet { display: none; }

.gallery-thumbs { height: 48px; display: none; }
.gallery-thumbs .swiper-slide { width: 48px !important; }
.swiper-pagination { display: block; }

@media screen and (min-width: 550px) and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
    .pdp-right { float: right; width: 40%; border-left: 1px solid #CCC; overflow-x: hidden; overflow-y: scroll; }
    .pdp-left { overflow: hidden; }
    .dock { width: 40%; }
	.moreinfo { background-color: #F5F5F5; padding: 0 15px 15px; display: table; }
	.moreinfo .container { border-bottom: none; }
	.moreinfo .linkbar { background: #FFF url("../img/chevron.png") no-repeat 95% 50% !important; border: 1px solid #CCC; margin: 15px 0 0 0; }
	.tabbox { background: #FFF url("../img/chevron.png") no-repeat 95% 20px !important; border: 1px solid #CCC !important; margin: 15px 0 0 0; overflow: hidden; float: left; }
	.tabbox.nolink { background-image: none !important; }
    #pdpcontent { position: fixed; }
    nav.pagination { position: absolute; bottom: 0; z-index: 100; }
    .gallery-thumbs { display: block; }
    .swiper-pagination { display: none; }
    .pdp-inner { position: fixed; }
    
    .main-container {
        float: right;
        width: 59.9%;
        height: auto !important;
        border-left: 1px solid #CCC;
        overflow-y: auto;
    }
    
    .filters-overlay {
        float: left;
        width: 320px;
        display: block !important;
        height: auto !important;
    }
    
    .filters-out {
        animation: none;
        -webkit-animation: none;
    }
    
    .filters-inner {
        transform: none;
        -webkit-transform: none;
        position: relative;
        height: 100% !important;
        overflow: auto;
    }
    
    .refinenav { display: none; }
    
    .filters { display: none; }
    .filterstab { display: block; }
    
    .mobile { display: none; }
    .tablet { display: block; }
}